.copyright {
    background-color: #1a252f;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.bg-secondary {
    background-color: #2c3e50 !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
    background-color: #1a252f !important;
}
.center-img{
    text-align: center;
    margin: 5px;
}
.center-img img{
    width: 300px;
}